*, *:before, *:after {
    box-sizing: inherit;
}

html{
    font-size: 18px; /* fallback font size: should be large enough for mobile screens */
    font-size: min(max(16px, 4vw), 24px); /* responsive font size */

    /* variables */
    --textHighEmph: hsla(0, 0%, 100%, .87);
    --textMedEmph: hsla(0, 0%, 100%, .6);
    --gameRowHt: 2rem; /* height of grid rows for game */
    --playerHeight: calc(var(--gameRowHt) * 3)
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    max-height: 20vh;
    width: 100vw;
}

.backgroundDark {
    /* Sets non-game area to Material Design's dark theme */
    background-color: #121212;
    width: 100%;
}

.brightText {
    color: var(--textHighEmph);
}

.paddTwoRem {
    padding: 2rem;
}

.gridCenter {
    display: grid;
    justify-content: center;  
}

.gameContainter {
    display: grid;
    background-color: yellow;
    min-height: 50vh;
    grid-gap: 0; /* fallback for gap */
    gap: 0;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr repeat(3, 2rem);
}

.player {
    color: red;
    background-color: red;
    display: inline;
    grid-area: 2 / 7 / 5 / 8;
    z-index: 100;
    content: "";
    position: relative;
    padding: 6rem 2rem;
}

/*.player::after {
    position: absolute;
    background-color: red;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/

.zombieLoc1 {
    grid-area = 2 / 13 / 5 / 14;
}

.zombieLoc2 {
    grid-area = 2 / 12 / 5 / 13;
}

.zombieLoc3 {
    grid-area = 2 / 11 / 5 / 12;
}

.zombieLoc4 {
    grid-area = 2 / 10 / 5 / 11;
}

.zombieLoc5 {
    grid-area = 2 / 9 / 5 / 10;
}

.zombieLoc6 {
    grid-area = 2 / 8 / 5 / 9;
}

/* for zombies attacking from behind (not implemented yet!) */

.zombieLoc7 {
    grid-area = 2 / 6 / 5 / 7;
}

.zombieLoc8 {
    grid-area = 2 / 5 / 5 / 6;
}

.zombieLoc9 {
    grid-area = 2 / 4 / 5 / 5;
}

.zombieLoc10 {
    grid-area = 2 / 3 / 5 / 4;
}

.zombieLoc11 {
    grid-area = 2 / 2 / 5 / 3;
}

.zombieLoc12 {
    grid-area = 2 / 1 / 5 / 2;
}

.zombie {
    color: blueviolet;
    background-color: blueviolet;
    padding: 6rem 2rem;
    content: "";
    display: block;
    transition: 0.5s;
    z-index: 99;
}

footer {
    max-height: 10vh;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
}

